<h1><%= @course.name %></h1>

<% if @quiz.present? %>
  <h2><%= @quiz.name %></h2>
  <p><%= @quiz.sentence %></p>

  <ul>
    <% @choices.each do |choice| %>
      <li><%= choice.text %></li>
    <% end %>
  </ul>
<% else %>
  <p>このコースにはクイズが登録されていません。</p>
<% end %>
