<div class="home-page">
  <%= image_tag "logo.png", alt: "詐欺対策道場",class: "home-logo" %>

    <%= link_to "新規登録", new_user_registration_path, class: "home-button" %>

    <%= link_to "ログイン", new_user_session_path, class: "home-button" %>

</div>