<% content_for :title, "家族ルーム参加" %>

    <h1>
      <%= @room.name %>
    </h1>
    
    <h2>この家族ルームに参加しますか？</h2>
    
<%= button_to '参加する',
              room_invitation_path(@room, @invitation, token: params[:token]),
              method: :patch %>
  </div>
</div>
