<% content_for :title, "家族ルーム参加" %>

    <h1>
      <%= @program.title %>
    </h1>
    
    <h2>この家族ルームに参加しますか？</h2>
    
    <%= button_to program_invitation_path, method: :patch do %>
      参加する
    <% end %>
  </div>
</div>
