<% content_for :title, "家族ルーム招待" %>

    <h2>
      招待リンク
    </h2>

    <div>
      <%= "招待リンクは#{@expiration_time}に期限切れになります" %>
    </div>

    <div>
      <div>
        <h3>注意事項</h3>
        <ul>
          <li>期限切れになった場合は再度招待リンクを生成してください</li>
          <li>招待リンクは3日が経過するか再度リンクを生成すると古いものが期限切れになります</li>
          <li>招待したい相手以外には伝えないように気を付けてください</li>
        </ul>
      </div>
    </div>
  </div>
</div>
