<h1>詐欺対策道場ホーム</h1>
<p>（新規登録・ログイン後に表示する仮ホーム画面）
今後実装するもの。
・家族ルーム名の表示
・家族ルームに属していなければ「家族ルームに参加していません」と「家族ルームの設定へ」が表示される。（一般のみ）
・自分が獲得したポイントが表示。
・カテゴリーが表示。
・ログイン後のフッターを表示。
・フッターには、「成績、家族ルーム、投稿、ユーザー情報」ボタンが用意されている。
</p>
<%= link_to "家族ルーム", home_rooms_path %>