<div class="home-page">
  <%= image_tag "logo.png", alt: "詐欺対策道場",class: "home-logo" %>

  <div class="home-buttons">
    <a href="#">新規登録</a>
  </div>

  <div class="home-buttons">
  <a href="#">ログイン</a>
  </div>
  
</div>