<h1>仮の家族ルーム画面</h1>

<p>今後実装するもの。
・同じ家族ルームに属しているユーザーを一覧表示
・「家族ルームの設定画面」へのボタン設置（ホストのみ）
・「家族ルームに招待する」ボタンの設置
・「家族ルーム一覧」ボタンの設置（ホストのみ）
・「家族ルーム作成ボタン」の設置（一般、ホストのみ）
</p>

<%= link_to "家族ルーム作成", new_room_path %>