<h1>仮の家族ルーム画面</h1>

<%= current_user.room.present? ? "現在参加中の家族ルーム：#{current_user.room.name}" : "現在家族ルームに属していません" %>



<p>今後実装するもの。
・属している家族ルーム名を表示
・同じ家族ルームに属しているユーザーを一覧表示
・「家族ルームの設定画面」へのボタン設置（ホストのみ）
・「家族ルームに招待する」ボタンの設置
・「家族ルーム一覧」ボタンの設置（ホストのみ）
・「家族ルーム作成ボタン」の設置（一般、ホストのみ）
</p>

<%= link_to "家族ルーム作成", new_room_path %>
