<h1>コース一覧</h1>

<% if @courses.present? %>
  <ul>
    <% @courses.each do |course| %>
      <li>
        <p>
          <%= link_to course.name , course_play_path(course, 1, quiz_start: true) %>
        </p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>このカテゴリーには、まだコースがありません。</p>
<% end %>